@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Ubuntu:wght@400;700&display=swap");

:root {
  --blue: #0087c5;
  --black: #212121;
  --off-white: #f1f1f1;
  --light-blue: #8ecae6;
  --dark-blue: #219ebc;
  --indigo: #023047;
  --yellow: #ffb703;
  --orange: #fb8500;
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  height: 100%;
  color: var(--off-white);
}

/* UTILITIES */

.container {
  display: flex;
  justify-content: space-between;
  background-color: var(--blue);
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 2rem;
}

.container-content {
  background-color: var(--black);
  height: auto;
  min-height: calc(100vh - 264px);
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 2rem;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-top: 0.5rem;
  padding-bottom: 1rem;
}

.container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: var(--blue);
  color: var(--off-white);
  padding-bottom: 2rem;
  padding-top: 20px;
  height: auto;
}

/* HEADERS */

.heading-main {
  margin-left: 3rem;
  font-family: Ubuntu, sans-serif;
  color: var(--off-white);
}

.project-headings h3 {
  margin: 0;
  padding: 0;
}

.project-headings h6 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

/* NAVBAR */

nav {
  display: flex;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1rem;
  margin-right: 1rem;
}

nav a {
  text-decoration: none;
  color: var(--yellow);
}

nav a:visited {
  color: var(--orange);
}

nav a:active {
  color: var(--orange);
  text-decoration: underline;
  font-weight: bold;
}

a.active {
  color: var(--orange);
  text-decoration: underline;
  font-weight: bold;
}

.container-content a {
  color: var(--yellow);
}

.container-content a:visited {
  color: var(--orange);
}

.container-content a:active {
  color: var(--orange);
  text-decoration: underline;
  font-weight: bold;
}

/* PROJECTS */

a img {
  height: 200px;
  width: 250px;
}

figure {
  margin: 0;
  padding: 0;
}

/* CONTACT */

button {
  margin-top: 1rem;
  background-color: var(--off-white);
  color: var(--black);
  border: none;
  padding: 0.5rem;
}

/* FOOTER */

.container-footer a {
  color: var(--off-white);
}

.container-footer a:active {
  color: var(--orange);
}

.container-footer a:visited {
  color: white;
}

.container-footer a:hover {
  color: var(--yellow);
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .container-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .container-grid {
    grid-template-columns: 1fr;
  }

  .heading-main {
    margin-left: 1rem;
    font-size: 1.1rem;
  }

  nav {
    font-size: 0.8rem;
  }

  nav ul {
    gap: 0.5rem;
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container-content {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .container-grid {
    grid-template-columns: 1fr 1fr;
  }

  .heading-main {
    margin-left: 2rem;
    font-size: 1rem;
  }
}
